{% extends 'village/base.html' %}
{% load static %}

{% block title %}{{ village.title }}{% endblock %}

{% block content %}

    <!-- ***** Welcome Area Start ***** -->
    <div class="welcome-area" id="welcome">

        <!-- ***** Header Text Start ***** -->
        <div class="header-text">
            <div class="container">
                <div class="row">
                    <div class="offset-xl-3 col-xl-6 offset-lg-2 col-lg-8 col-md-12 col-sm-12">
                        <h1><strong>{{ village.title }}</strong></h1>
                        <p>{{ village.description }}</p>
                        <button onclick="document.getElementById('exercises').scrollIntoView({
                            behavior: 'smooth'
                        });" class="main-button-slider mb-2">Explore</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- ***** Header Text End ***** -->
    </div>
    <!-- ***** Welcome Area End ***** -->

    <!-- ***** Features Small Start ***** -->
    <section class="section home-feature" id="exercises">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="row justify-content-center">
                        {% for exercise in exercises %}
                        <!-- ***** Features Small Item Start ***** -->
                        <div class="col-lg-4 col-md-6 col-sm-6 col-12" data-scroll-reveal="enter bottom move 50px over 0.6s after 0.2s">
                            <a href="{% url 'exercise-view' exercise.pk %}">
                                <div class="features-small-item">
                                    <div class="icon">
                                        <i><img src="{% static 'village/images/featured-item-01.png' %}" alt=""></i>
                                    </div>
                                    <h5 class="features-title">{{ exercise.title }}</h5>
                                    <p>{{ exercise.summary }}</p>
                                </div>
                            </a>
                        </div>
                        <!-- ***** Features Small Item End ***** -->
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Features Small End ***** -->
{% endblock %}